#myLabel {
  font-size: 80;
  font-family: "Colfax-Bold";
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%-55;
  fill: white;
}

.sensor {
  font-family: "Colfax-Medium"; 
  font-size: 25;
  letter-spacing: -2;
  fill: seashell;
}

.battery {
  font-family: "Colfax-Medium"; 
  font-size: 13;
  letter-spacing: -2;
  fill: seashell;
}

.date-text {
  font-family: Seville;
  font-size: 22;
  text-anchor: middle;
  letter-spacing: -1;
  text-length: 32;
  x: 50%;
  y: 50%-130;
  width: 100%;
  height: 100%;
  fill: seashell;
}